{% extends "base.html" %}
{% load static %}
{% load allauth account %}

{% block title %}Password Reset{% endblock %}
{% block description %}Reset your password{% endblock %}

{% block extra_meta %}
    <meta name="robots" content="noindex, nofollow">
{% endblock %}

{% block extra_styles %}
    <link rel="stylesheet" href="{% static 'password_reset/css/styles.css' %}">
{% endblock %}

{% block content %}
<div class="container-fluid reset-password-container">
    <div class="row">
        <!-- Left Side - Image -->
        <div class="col-md-6 d-none d-md-flex align-items-center justify-content-center">
            <img src="{% static 'password_reset/images/password_reset.svg' %}" alt="Password Reset Illustration" class="img-fluid">
        </div>

        <!-- Right Side - Form -->
        <div class="col-md-6 d-flex align-items-center justify-content-center">
            <div class="reset-password-form-container">
                <h1 class="mb-4">Password Reset</h1>
                {% if user.is_authenticated %}
                    <div class="">
                        {% include "account/snippets/already_logged_in.html" %}
                    </div>
                {% else %}
                    <p class="mt-4">
                        We've sent you an email. If you don't see it, check your spam folder. Still no email? Contact us for help.
                    </p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}