{% extends "base.html" %}
{% load static %}
{% load allauth %}

{% block title %}Change Password{% endblock %}
{% block description %}Change your password{% endblock %}

{% block extra_meta %}
    <meta name="robots" content="noindex, nofollow">
{% endblock %}

{% block extra_styles %}
    <link rel="stylesheet" href="{% static 'password_reset/css/styles.css' %}">
{% endblock %}

{% block content %}
<div class="container-fluid reset-password-container">
    <div class="row">
        <!-- Left Side - Image -->
        <div class="col-md-6 d-none d-md-flex align-items-center justify-content-center">
            <img src="{% static 'password_reset/images/password_reset.svg' %}" alt="Password Reset Illustration" class="img-fluid">
        </div>

        <!-- Right Side - Form -->
        <div class="col-md-6 d-flex align-items-center justify-content-center">
            <div class="reset-password-form-container">
                <h1 class="mb-4">
                    {% if token_fail %}
                        Bad Token
                    {% else %}
                        Change Password
                    {% endif %}
                </h1>

                <!-- Display non-field errors -->
                {% for error in form.non_field_errors %}
                    <div class="text-danger">
                        <p>{{ error|escape }}</p>
                    </div>
                {% endfor %}

                {% if token_fail %}
                    {% url 'account_reset_password' as passwd_reset_url %}
                    <p class="mb-4">
                        The password reset link was invalid, possibly because it has already been used. Please request a <a href="{{ passwd_reset_url }}" class="reset-password-link">new password reset</a>.
                    </p>
                {% else %}
                    <form method="post" action="{{ action_url}}" class="reset-password-form">
                        {% csrf_token %}
                        <!-- Redirect field -->
                        {{ redirect_field }}
                        <div class="mb-3">
                            <input type="password" name="password1" class="form-control" placeholder="New Password" autocomplete="new-password" required="" id="id_password1">
                            <!-- Display errors for password1 field -->
                            {% if form.password1.errors %}
                                <div class="text-danger">
                                    {% for error in form.password1.errors %}
                                        <p>{{ error|escape }}</p>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                        <div class="mb-3">
                            <input type="password" name="password2" class="form-control" placeholder="New Password (again)" required="" id="id_password2">
                            <!-- Display errors for password2 field -->
                            {% if form.password2.errors %}
                                <div class="text-danger">
                                    {% for error in form.password2.errors %}
                                        <p>{{ error|escape }}</p>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                        
                        <button type="submit" name="action" class="btn btn-primary btn-block w-100">Change Password</button>
                    </form>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
