__pycache__
*.py[cod]
*.sqlite3
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.swp
*.bak
*.tmp
*.coverage
*.env
*.DS_Store
*.pytest_cache/
.venv/
env/
venv/
node_modules/
.mypy_cache/
.ruff_cache/
.git/
.gitignore
Dockerfile*
docker-compose*.yml
Gallary/
media/
staticfiles/


