{% extends 'base.html' %}
{% load static %}

{% block title %}Products - Django Shop{% endblock %}
{% block description %}Explore our wide range of products{% endblock %}
{% block extra_meta%}{% endblock %}
{% block extra_styles %}<link rel="stylesheet" href="{% static 'products/css/styles.css' %}">{% endblock %}

{% block content %}
<section class="products-section mb-5">
    <h2 class="mb-4">All Products</h2>
    <div class="row" id="products-container">
        {% for product in products %}
        <div class="col-12 col-md-6 col-lg-3 product-item">
            <div class="card">
                <div class="image-container">
                    <img src="{{ product.images.first.image.url }}" alt="{{ product.name }}" class="card-img-top product-image">
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text">Price: ${{ product.price }}</p>
                    <a href="/" class="btn btn-primary">View Details</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <!-- Infinite Scroll Loading Spinner -->
    <div id="loading-spinner" class="text-center my-4 d-none">
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
</section>
{% endblock %}

{% block extra_js %}<script src="{% static 'products/js/script.js' %}"></script>{% endblock %}
