{% load allauth %}
{% comment %} djlint:off {% endcomment %}
<style>
    .button-container {
        text-align: center;  /* Center the button horizontally */
    }
    .custom-button {
        padding: 10px;
        background-color: #007bff;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        margin-top: 10px;
        text-decoration: none;
        display: inline-block;
        text-align: center;
        width: 100%;  /* Ensures the button takes the full width of its container */
        max-width: 200px;  /* Limits the maximum width of the button */
    }
    .custom-button:hover {
        background-color: #0056b3;
    }
</style>
<div class="button-container">
    <{% if attrs.href %}a href="{{ attrs.href }}" class="custom-button"{% else %}button class="custom-button"{% endif %}
    {% if attrs.form %}form="{{ attrs.form }}"{% endif %}
    {% if attrs.id %}id="{{ attrs.id }}"{% endif %}
    {% if attrs.name %}name="{{ attrs.name }}"{% endif %}
    {% if attrs.value %}value="{{ attrs.value }}"{% endif %}
    {% if attrs.type %}type="{{ attrs.type }}"{% endif %}
    >
    {% slot %}
    {% endslot %}
    </{% if attrs.href %}a{% else %}button{% endif %}>
</div>
