.btn-block {
    display: block;
}

.reset-password-form p {
    margin-bottom: 1rem;
    font-size: 14px;
}

/* Style for the login illustration image */
.reset-password-container img.img-fluid {
    max-width: 80%; /* Ensure the image is responsive */
    height: auto; /* Maintain aspect ratio */
}

.reset-password-link {
    color: var(--primary-color);
    font-weight: bold;
    text-decoration: none;
}

.reset-password-link:hover {
    text-decoration: underline;
}
